<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-liquidfill.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/walden.js"></script>

</head>
<body>
    <div id="46544fc670fe41599fecad27cebc316e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_46544fc670fe41599fecad27cebc316e = echarts.init(
            document.getElementById('46544fc670fe41599fecad27cebc316e'), 'walden', {renderer: 'canvas'});
        var option_46544fc670fe41599fecad27cebc316e = {
    "baseOption": {
        "series": [
            {
                "type": "liquidFill",
                "name": "2021\u5e74",
                "data": [
                    0.050199999999999995,
                    0.050199999999999995
                ],
                "waveAnimation": true,
                "animationDuration": 2000,
                "animationDurationUpdate": 1000,
                "color": [
                    "#1a6840",
                    "#1ba784"
                ],
                "shape": "circle",
                "backgroundStyle": {
                    "color": "#40a070"
                },
                "outline": {
                    "show": false,
                    "borderDistance": 8
                },
                "label": {
                    "show": true,
                    "position": "inside",
                    "margin": 8,
                    "fontSize": 40,
                    "formatter": function (param) {                         return (Math.floor(param.value * 1000) / 10) + '%';                     }
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": false,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "1988\u5e74",
                "1995\u5e74",
                "2000\u5e74",
                "2004\u5e74",
                "2009\u5e74",
                "2014\u5e74",
                "2021\u5e74"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [],
                    "selected": {}
                }
            ],
            "series": [
                {
                    "type": "liquidFill",
                    "name": "1988\u5e74",
                    "data": [
                        0.0241,
                        0.0241
                    ],
                    "waveAnimation": true,
                    "animationDuration": 2000,
                    "animationDurationUpdate": 1000,
                    "color": [
                        "#1a6840",
                        "#1ba784"
                    ],
                    "shape": "circle",
                    "backgroundStyle": {
                        "color": "#40a070"
                    },
                    "outline": {
                        "show": false,
                        "borderDistance": 8
                    },
                    "label": {
                        "show": true,
                        "position": "inside",
                        "margin": 8,
                        "fontSize": 40,
                        "formatter": function (param) {                         return (Math.floor(param.value * 1000) / 10) + '%';                     }
                    }
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597"
            ]
        },
        {
            "legend": [
                {
                    "data": [],
                    "selected": {}
                }
            ],
            "series": [
                {
                    "type": "liquidFill",
                    "name": "1995\u5e74",
                    "data": [
                        0.0277,
                        0.0277
                    ],
                    "waveAnimation": true,
                    "animationDuration": 2000,
                    "animationDurationUpdate": 1000,
                    "color": [
                        "#1a6840",
                        "#1ba784"
                    ],
                    "shape": "circle",
                    "backgroundStyle": {
                        "color": "#40a070"
                    },
                    "outline": {
                        "show": false,
                        "borderDistance": 8
                    },
                    "label": {
                        "show": true,
                        "position": "inside",
                        "margin": 8,
                        "fontSize": 40,
                        "formatter": function (param) {                         return (Math.floor(param.value * 1000) / 10) + '%';                     }
                    }
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597"
            ]
        },
        {
            "legend": [
                {
                    "data": [],
                    "selected": {}
                }
            ],
            "series": [
                {
                    "type": "liquidFill",
                    "name": "2000\u5e74",
                    "data": [
                        0.0308,
                        0.0308
                    ],
                    "waveAnimation": true,
                    "animationDuration": 2000,
                    "animationDurationUpdate": 1000,
                    "color": [
                        "#1a6840",
                        "#1ba784"
                    ],
                    "shape": "circle",
                    "backgroundStyle": {
                        "color": "#40a070"
                    },
                    "outline": {
                        "show": false,
                        "borderDistance": 8
                    },
                    "label": {
                        "show": true,
                        "position": "inside",
                        "margin": 8,
                        "fontSize": 40,
                        "formatter": function (param) {                         return (Math.floor(param.value * 1000) / 10) + '%';                     }
                    }
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597"
            ]
        },
        {
            "legend": [
                {
                    "data": [],
                    "selected": {}
                }
            ],
            "series": [
                {
                    "type": "liquidFill",
                    "name": "2004\u5e74",
                    "data": [
                        0.04,
                        0.04
                    ],
                    "waveAnimation": true,
                    "animationDuration": 2000,
                    "animationDurationUpdate": 1000,
                    "color": [
                        "#1a6840",
                        "#1ba784"
                    ],
                    "shape": "circle",
                    "backgroundStyle": {
                        "color": "#40a070"
                    },
                    "outline": {
                        "show": false,
                        "borderDistance": 8
                    },
                    "label": {
                        "show": true,
                        "position": "inside",
                        "margin": 8,
                        "fontSize": 40,
                        "formatter": function (param) {                         return (Math.floor(param.value * 1000) / 10) + '%';                     }
                    }
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597"
            ]
        },
        {
            "legend": [
                {
                    "data": [],
                    "selected": {}
                }
            ],
            "series": [
                {
                    "type": "liquidFill",
                    "name": "2009\u5e74",
                    "data": [
                        0.042,
                        0.042
                    ],
                    "waveAnimation": true,
                    "animationDuration": 2000,
                    "animationDurationUpdate": 1000,
                    "color": [
                        "#1a6840",
                        "#1ba784"
                    ],
                    "shape": "circle",
                    "backgroundStyle": {
                        "color": "#40a070"
                    },
                    "outline": {
                        "show": false,
                        "borderDistance": 8
                    },
                    "label": {
                        "show": true,
                        "position": "inside",
                        "margin": 8,
                        "fontSize": 40,
                        "formatter": function (param) {                         return (Math.floor(param.value * 1000) / 10) + '%';                     }
                    }
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597"
            ]
        },
        {
            "legend": [
                {
                    "data": [],
                    "selected": {}
                }
            ],
            "series": [
                {
                    "type": "liquidFill",
                    "name": "2014\u5e74",
                    "data": [
                        0.049,
                        0.049
                    ],
                    "waveAnimation": true,
                    "animationDuration": 2000,
                    "animationDurationUpdate": 1000,
                    "color": [
                        "#1a6840",
                        "#1ba784"
                    ],
                    "shape": "circle",
                    "backgroundStyle": {
                        "color": "#40a070"
                    },
                    "outline": {
                        "show": false,
                        "borderDistance": 8
                    },
                    "label": {
                        "show": true,
                        "position": "inside",
                        "margin": 8,
                        "fontSize": 40,
                        "formatter": function (param) {                         return (Math.floor(param.value * 1000) / 10) + '%';                     }
                    }
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597"
            ]
        },
        {
            "legend": [
                {
                    "data": [],
                    "selected": {}
                }
            ],
            "series": [
                {
                    "type": "liquidFill",
                    "name": "2021\u5e74",
                    "data": [
                        0.050199999999999995,
                        0.050199999999999995
                    ],
                    "waveAnimation": true,
                    "animationDuration": 2000,
                    "animationDurationUpdate": 1000,
                    "color": [
                        "#1a6840",
                        "#1ba784"
                    ],
                    "shape": "circle",
                    "backgroundStyle": {
                        "color": "#40a070"
                    },
                    "outline": {
                        "show": false,
                        "borderDistance": 8
                    },
                    "label": {
                        "show": true,
                        "position": "inside",
                        "margin": 8,
                        "fontSize": 40,
                        "formatter": function (param) {                         return (Math.floor(param.value * 1000) / 10) + '%';                     }
                    }
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597"
            ]
        }
    ]
};
        chart_46544fc670fe41599fecad27cebc316e.setOption(option_46544fc670fe41599fecad27cebc316e);
    </script>
</body>
</html>
